@import '~sass/variables';

.app-main {
  font-family: Arial;
  font-size: $font-size-default;
  max-width: 20em;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-main-title {
  text-transform: uppercase;
}

.app-main-disclaimer {
  display: block;
}
