<div class="app-main" style="text-align:center">
  <h1 class="app-main-title">{{ title }}</h1>

  <p class="app-main-instructions">Type in amount and set currency:</p>

  <currency-component></currency-component>
  <currency-component></currency-component>
  <currency-component></currency-component>

  <small class="app-main-disclaimer"><a target="_blank" rel="noopener" href="https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">Disclaimer</a></small>
</div>
